.work_section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width:1050px) {
        height: unset;
        padding: 2rem;
    }

    .work_box {
        margin: auto;
        width: 1000px;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;


        .heading {
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
        }

        .cards_box {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;

            .card {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                align-items: center;
                background: #1f2251;
                padding: 1.5rem .5rem;
                border-radius: .5rem;
                box-shadow: 0 1px 20px 0px rgb(0 0 0 / 10%);
                font-family: 'Poppins';

                .number {
                    font-size: 3rem;
                    font-weight: bold;
                }

                .title {
                    color: var(--Hover_Color);
                    font-size: 2rem;
                }

                .img_box {
                    height: 150px;

                    img {
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .details {
                    text-align: center;
                    color: var(--Hover_Color);
                    font-size: .85rem;
                }
            }
        }

        .btn_box {
            width: -webkit-fill-available;
            display: flex;
            justify-content: center;

            button {
                background-color: #ff6491 !important;
                background-image: linear-gradient(to bottom left, #ff8d72, #ff6491, #ff8d72) !important;
                padding: 1rem 4rem;
                font-size: 20.8px;
                border: none;
                font-family: 'Poppins';
                font-weight: 800;
                color: var(--White_color);
                border-radius: 2rem;
                cursor: pointer;
            }
        }

        @media only screen and (max-width:1050px) {
            width: -webkit-fill-available;

            .cards_box {
                grid-template-columns: repeat(2, 1fr);

            }
        }

        @media only screen and (max-width:650px) {
            .cards_box {
                grid-template-columns: 1fr;

            }

            .btn_box {
                button {
                    padding: 1rem 2rem;
                    font-size: 1rem;
                }
            }
        }
    }
}