.MuiPaper-elevation {
    margin: 0.7em;
    border-radius: 0.2857rem !important;
    background-color: #1c2251 !important;
  }
  
  .MuiBackdrop-root {
    border-radius: 0.2857rem !important;
    background-color: unset !important;
  }
  
  .MuiBox-root {
    border-radius: 0.2857rem !important;
    background-color: #1c2251 !important;
  }
  .main_nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151941;
    .nav_content {
      width: 1140px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px;
  
      .nav_left {
        display: flex;
        align-items: center;
        gap: 4px;
        color: white;
        cursor: pointer;
        img {
          width: 50px;
          height: 50px;
          @media (max-width: 1350px) {
            //   width: 28px;
            //   height: 28px;
          }
        }
  
        .title {
          font-size: 1rem;
          line-height: 28px;
          letter-spacing: 0.01em;
          color: white;
          font-family: "Poppins", sans-serif;
          @media (max-width: 1350px) {
            font-size: 19px;
          }
  
          span {
            font-weight: 600;
          }
        }
      }
  
      .nav_right {
        display: flex;
        gap: 25px;
        align-items: center;
        justify-content: center;
        @media (max-width: 950px) {
          gap: 20px;
        }
  
        .ham_burger {
          display: none;
          @media (max-width: 700px) {
            display: block !important;
            color: white;
          }
        }
        .social_btn {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 22px;
          color: white;
          cursor: pointer;
          gap: 20px;
          @media (max-width: 700px) {
            display: none;
          }
        }
  
        .options {
          display: flex;
          align-items: center;
          gap: 40px;
          color: white;
          @media (max-width: 700px) {
            display: none;
          }
  
          @media (max-width: 950px) {
            gap: 20px;
          }
  
          .text {
            font-weight: 300;
            color: white;
            cursor: pointer;
            font-family: "Poppins", sans-serif;
            font-size: 0.875rem;
            @media (max-width: 1350px) {
              font-size: 13px;
            }
          }
  
          .log {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ff6491 !important;
            background-image: linear-gradient(
              to bottom left,
              #ff8d72,
              #ff6491,
              #ff8d72
            ) !important;
            cursor: pointer;
            border-width: 1px;
            border-radius: 30px;
            border-color: #ff643f;
            font-family: "Poppins", sans-serif;
            font-size: 0.875rem;
            padding: 5px 15px;
            gap: 10px;
            transition: .3s ease-in-out;
            .arrow {
              font-size: 20px;
              font-weight: 1000;
            }
            &
            :hover{
              box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
            }
          }
        }
      }
    }
  }
  
  .ham_nav_main {
    background: #1f2251;
    border-radius: 0.2857rem;
    padding: 1.4rem;
  
    .icons {
      font-size: 25px;
      cursor: pointer;
    }
  
    .navbar__container {
      background-color: #1c2251;
      .nav_left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
          display: flex;
          align-items: center;
          gap: 4px;
          color: white;
          cursor: pointer;
          img {
            width: 50px;
            height: 50px;
          }
        }
      }
  
      .nav_right {
        display: flex;
        gap: 25px;
  
        justify-content: center;
        flex-direction: column;
        @media (max-width: 950px) {
          gap: 20px;
        }
  
        .social_btn {
          display: flex;
          padding-top: 30px;
          align-items: center;
          font-size: 22px;
          color: white;
          cursor: pointer;
          gap: 20px;
          @media (max-width: 700px) {
            // display: none;
          }
        }
  
        .options {
          display: flex;
  
          gap: 40px;
          flex-direction: column;
          color: white;
          @media (max-width: 700px) {
            // display: none ;
          }
  
          @media (max-width: 950px) {
            gap: 20px;
          }
  
          .text {
            font-weight: 300;
            color: white;
            cursor: pointer;
            font-family: "Poppins", sans-serif;
            font-size: 0.875rem;
            @media (max-width: 1350px) {
              font-size: 13px;
            }
          }
  
          .log {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 28px;
            background-color: #ff6491 !important;
            background-image: linear-gradient(
              to bottom left,
              #ff8d72,
              #ff6491,
              #ff8d72
            ) !important;
            cursor: pointer;
            border-width: 1px;
            border-radius: 30px;
            border-color: #ff643f;
            font-family: "Poppins", sans-serif;
            font-size: 0.875rem;
            transition: .3s ease-in-out;
            gap: 10px;
            .arrow {
              font-size: 20px;
              font-weight: 1000;
            }
            &
            :hover{
              box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
            }
          }
        }
      }
    }
  }
  