.main_nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151941;

    .nav_content {
        width: 1140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        @media(max-width:1350px) {
            padding-bottom: 20px;
            padding-top: 20px;


        }

        .nav_left {
            display: flex;
            align-items: center;
            gap: 4px;
            color: white;

            cursor: pointer;

            img {
                width: 50px;
                height: 50px;

                @media(max-width:1350px) {
                    //   width: 28px;
                    //   height: 28px;

                }
            }

            .nav_logo_title {
                font-size: 1rem;
                line-height: 28px;
                letter-spacing: 0.01em;
                color: white;
                font-family: "Poppins", sans-serif;

                @media(max-width:1350px) {
                    font-size: 19px;

                }

                span {
                    font-weight: 600;

                }
            }
        }



        .nav_right {
            display: flex;
            gap: 37px;
            align-items: center;
            justify-content: center;

            @media(max-width:950px) {
                gap: 20px;

            }

            .ham_burger {
                display: none;

                @media(max-width:850px) {
                    display: block !important;
                }
            }

            .social_btn {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.2rem;
                color: var(--White_Color);
                cursor: pointer;
                gap: .8rem;

                .icon {
                    &:hover {
                        color: var(--Hover_Color);
                    }
                }
            }

            .nav_right_signin_options {
                display: flex;
                align-items: center;
                padding-left: 18px;
                gap: 24px;
                height: 33px;
                color: var(--White_Color);

                @media(max-width:950px) {
                    gap: 20px;
                }

                @media(max-width:850px) {
                    display: none;
                }

                .nav_text {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    cursor: pointer;

                    &:hover {
                        color: var(--Hover_Color);
                    }

                    @media(max-width:1350px) {
                        font-size: 13px;
                    }
                }

                .sign_up {
                    color: var(--Orange_Color);
                    cursor: pointer;
                }

                .log {
                    display: flex;
                    align-items: center;
                    gap: .4rem;
                    background: var(--Btn_Background_Color);
                    padding: .2rem 1rem;
                    border-radius: 1rem;
                    cursor: pointer;

                    .icon {
                        font-weight: bold;
                    }
                }
            }


        }

    }
}



.ham_nav_main {
    height: 100vh;
    background-color: var(--BG_COLOR);
    color: var(--White_Color);
    display: flex;
    flex-direction: column;

    .icons {
        font-size: 2rem;
        cursor: pointer;
        justify-self: end;
        margin: 1rem;
        align-self: flex-end;
        cursor: pointer;
    }

    .navbar__container {
        .nav_right {
            padding-top: 100px;
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .nav_text {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                cursor: pointer;

                &:hover {
                    color: var(--Hover_Color);
                }

                @media(max-width:1350px) {
                    font-size: 13px;
                }
            }

            .sign_up {
                color: var(--Orange_Color);
                cursor: pointer;
            }

            .log {
                display: flex;
                align-items: center;
                gap: .4rem;
                background: var(--Btn_Background_Color);
                padding: .2rem 1rem;
                border-radius: 1rem;
                cursor: pointer;

                .icon {
                    font-weight: bold;
                }
            }

        }
    }
}