@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

body {
  // font-family: 'Roboto', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-color: var(--BG_COLOR);
  color: var(--White_Color);
  width: 100vw;
  overflow-x: hidden;

  @keyframes move-up-down {
    0% {
      transform: translateY(20px);
    }

    50% {
      transform: translateY(-20px);
    }

    100% {
      transform: translateY(20px);
    }
  }
  @keyframes move-left-right {
    0% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(-10px);
    }
  }
}

:root {
  --BG_COLOR: #171941;
  --White_Color: #FFFFFF;
  --Hover_Color: #ffffffcc;
  --Orange_Color: #ff8d72;
  --Btn_Background_Color: linear-gradient(to bottom left, #ff8d72, #ff6491, #ff8d72);
  --Box_Background:#1f2251;
}